# Only whitelist certain directories and files - see
# https://jasonstitt.com/gitignore-whitelisting-patterns

# Ignore everything
*
# But descend into directories
# EDIT: super slow!
# !*/

# NOTE: I've untracked .gitconfig and .gitignore_global
# These are too different between my work macOS and my home envs.

!.bashrc
#!.gitconfig
!.gitignore
#!.gitignore_global
!.profile
!.tmux.conf
!.vimrc
!.Xdefaults
!.Xresources
!.ys-fib.zsh-theme
!.zshrc
!.zprofile
!README.md
!.config
!.config/sxhkd
!.config/sxhkd/sxhkdrc
!.config/bspwm
!.config/bspwm/bspwmrc
!.config/polybar
!.config/polybar/config
!.config/polybar/launch.sh
