! TODO - desktop background
! TODO - working transparency
! TODO - Xft. font hinting/rendering settings

! Xft font rendering
! Not entirely sure what they do but recommended...
Xft.hinting: true
Xft.rgba: none
Xft.hintstyle: hintfull
Xft.lcdfilter: lcddefault

! Fade out when not focused
URxvt.fading: 30

! Colour depth
URxvt.depth: 32
! Colours to match macOS iTerm2 Chalkboard
! foreground/background - TODO would like to match to my vim colours? Or to
! Chalkboard? want everything to match in the end...
! Fake transparency
! URxvt.inheritPixmap: true
! URxvt.transparent: true
! True transparency - needs compositor maybe?
URxvt.background: [70]#000000
URxvt.foreground: #ffffff
! black
URxvt.color0: #000000
URxvt.color8: #414141
! red
URxvt.color1: #cf8784
URxvt.color9: #e2b9b8
! green
URxvt.color2:  #82cb85
URxvt.color10: #b7e0b8
! yellow
URxvt.color3:  #cdcc84
URxvt.color11: #e1e0b8
! blue
URxvt.color4: #8688ce
URxvt.color12: #b8bae2
! magenta
URxvt.color5: #cf8acd
URxvt.color13: #e2bae1
! cyan
URxvt.color6: #82ccce
URxvt.color14: #b7e0e2
! white
URxvt.color7: #e0e0e0
URxvt.color15: #feffff

! font - not found?
! pixelSize instead of size, and letterSpace -1, needed to fix font rendering
! URxvt.font: xft:Fura\ Code\ Light\ Nerd\ Font\ Complete\ Mono:size=11
URxvt.font: xft:Monospace:pixelSize=12
URxvt.letterSpace: -1

! no scrollbar - need to logout and back in for it to take effect
URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.scrollBar_floating: false

! clickable urls
URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1

